<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ogan.codedenim">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".courses.CourseDetailActivity"
            android:parentActivityName=".courses.CourseActivity" />
        <activity
            android:name=".courses.CourseActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".login.CorperLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".StarterActivity" />
        <activity
            android:name=".StarterActivity"
            android:theme="@style/AppTheme.NoActionBar.Starter" />
        <activity
            android:name=".login.StudentLoginActivity"
            android:label="@string/title_activity_student_login"
            android:parentActivityName=".StarterActivity" />
        <activity
            android:name=".courses.CoursesByCategories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".register.CorperReg"
            android:label="@string/title_activity_corper_reg"
            android:parentActivityName=".login.CorperLoginActivity" />
        <activity
            android:name=".courses.ModuleActivity"
            android:parentActivityName=".courses.CourseDetailActivity" />
        <activity
            android:name=".courses.TopicActivity"
            android:label="Topics"
            android:parentActivityName=".courses.ModuleActivity" />
        <activity
            android:name=".courses.MyCourses"
            android:label="My Courses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TopicContent"
            android:label="Topic Content"
            android:parentActivityName=".courses.ModuleActivity" />
        <activity
            android:name=".login.OthersLoginActivity"
            android:label="@string/title_activity_others_login"
            android:parentActivityName=".StarterActivity"/>
    </application>

</manifest>